.card.w11dark {
  background-color: #242424 !important;
}
.card.w11light {
  background-color: #242424 !important;
}
pre {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.notification {
  color: black !important;
}
.notification-content {
  color: black !important;
}
.btn.w11dark {
  background-color: white;
}
.btn.w11light {
  background-color: black;
}
.container.w11light {
  background-color: white;
  width: 100vw;
  height: 100vh;
}
.container.w11light * {
  color: black;
  width: 100vw;
  height: 100vh;
}
.container.w11dark {
  background-color: #0D1117;
}
.container.w11dark * {
  color: white;
}
.card.w11dark * {
  color: white;
}
.card.w11light * {
  color: white;
}
#theme {
  color: black;
}
body.dark {
  background-color: #0D1117;
}
body.light {
  background-color: #FFFFFF
}

.card {
	background: crimson;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 33, 33, 0.3);
    color: white;
    }
    
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
